### Visualiser data

I denne filen tenkte jeg visualisere innholdet etter første innhenting av data fra to sensorer samtidig.

In [4]:
import pandas

In [5]:
# df = pandas.read_csv("train_data/data_martin_2_forsok2.csv")
df = pandas.read_csv("train_data/sensortest.csv")
df_1 = df[df['SensorId'] == 1]
df_2 = df[df['SensorId'] == 2]
df_3 = df[df['SensorId'] == 3]

print(len(df_1))
print(len(df_2))
print(len(df_3))

31619
31617
31616

In [9]:
df_1 = df_1.iloc[:2000, :4]
df_1

      SensorId   TimeStamp (s)   FrameNumber   AccX (g)
1            1           -0.00             0   0.036245
5            1            0.02             1   0.036455
6            1            0.04             2   0.038378
7            1            0.06             3   0.039858
9            1            0.08             4   0.037581
...        ...             ...           ...        ...
5984         1           39.90          1995   0.038362
5985         1           39.92          1996   0.038292
5987         1           39.94          1997   0.038007
5990         1           39.96          1998   0.038119
5993         1           39.98          1999   0.037916

[2000 rows x 4 columns]